.full_screen {
    width: 100%;
    height: 100vh;
}

.fixed {
    position: fixed;
}

.top {
    top: 0;
    right: 0;
}

.bottom {
    bottom: 0;
    right: 0;
}

.width {
    width: 100%;
}

.height {
    height: 100vh;
}