#title_screen td {
    text-align: center;
    letter-spacing: 0.5em;
}

.title_click {
    animation: flash 3s linear infinite;
}

@keyframes flash {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

#Game_Version {
    text-align: right;
    font-size: 0.425em;
    padding-top: 0.5em;
    padding-right: 0.5em;
}