.outline {
    text-shadow: 2px 2px 1px #000000, -2px 2px 1px #000000, 2px -2px 1px #000000, -2px -2px 1px #000000, 2px 0px 1px #000000, 0px 2px 1px #000000, -2px 0px 1px #000000, 0px -2px 1px #000000;
    /* 文字の影 */
}

.メイン画面 {
    height: 100vh;
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
}

#main {
    background-size: cover;
    background-repeat: no-repeat;
}

#command td {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 20%;
}

.command_img td {
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.command_img span {
    padding: 0.25vw;
    border-radius: 1vw;
}

.command_img_txt {
    border: 0.0125vw solid;
    background-color: #FFFFFFD0;
    padding: 0.25vw;
    border-radius: 2vh;
}

.ステージ選択 {
    width: 95%;
    height: 12.5vh;
    margin: 1vw;
    padding: 1vw;
    border: 0.125vw solid;
    border-radius: 2.5vw;
    background-color: white;
}

.編成_キャラ {
    width: 33%;
    height: 32vh;
    border: 0.125vw solid;
    border-radius: 2vw;
    background-color: #FFFFFFD0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.編成_選択 {
    background-size: cover;
}

.編成_ボタン {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    font-size: 1.5vw;
    border: 0.125vw solid;
    border-color: black;
    border-radius: 1vw;
    background-color: lightsteelblue;
}

.戦闘画面_プレイヤー {
    display: none;
}

#ステージ数 {
    border: 0.125vw solid;
    border-radius: 2vw;
    height: 5.5vh;
    background-color: white;
}

.戦闘画面_上部UI {
    height: 5.5vh;
    border: 0.125vw solid;
    border-radius: 2vw;
    background-color: white;
    font-size: 1.5vw;
}

.行動順 {
    width: 14.28%;
    border-radius: 2vw;
    text-align: center;
    vertical-align: middle;
    font-size: 1.25vw;
    /*background-image: url(img/char/player/char2.png);*/
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    border: 0.0625vw solid gray;
}

.戦闘画面_キャラ画像 {
    width: 14.28%;
    height: 45vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

.戦闘画面_キャラ画像2 {
    width: 14.28%;
    height: 45vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

.戦闘画面_敵 {
    background-color: white;
    border: 1px solid;
    border-radius: 1vh;
    font-size: 2vh;
}

.戦闘画面_敵選択 {
    height: 3.5vh;
    text-align: center;
}

.戦闘画面_敵選択_div {
    height: 1.25vh;
    text-align: center;
    margin-left: 4.5vw;
    margin-right: 4.5vw;
    border-radius: 2vw;
    opacity: 75%;
    background-color: red;
    border: 0.0625vw solid lightcoral;
}

.勝利_キャラ {
    height: 60vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    text-align: center;
    vertical-align: bottom;
}

.勝利_ステータス {
    width: 90%;
    display: inline-block;
    background-color: #FFFFFF;
    border: 0.125vw solid;
    font-size: 2vh;
    padding: 0.5vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-radius: 0.5vw;
    margin-bottom: 5vh;
}

.勝利_ボタン {
    display: inline-block;
    background-color: #FAAA00D0;
    border: 0.125vw solid;
    font-size: 3vh;
    padding: 1.5vh;
    padding-left: 2.5vh;
    padding-right: 2.5vh;
    border-radius: 0.5vw;
    margin-bottom: 10vh;
}

.勝利_ボタン:hover {
    border-color: red;
}

.バトルスタート文字 {
    /*display: inline-block;*/
    display: none;
}

.編成_ステータス {
    width: 50%;
    height: 3.8vh;
}

.操作説明_表 {
    width: 6.67%;
    height: 7.25vh;
    background-color: lightblue;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.操作説明_表2 {
    width: 6.67%;
    height: 0vh;
    background-color: #FFFFFF00;
}

.操作説明_表3 {
    width: 6.67%;
    height: 7.25vh;
    background-color: #FFFFFF00;
}

.操作説明 {
    font-size: 1.375vw;
    user-select: none;
}

.操作説明_ボタン {
    font-size: 1.125vw;
    background-color: white;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    border-radius: 1vw;
    border: 0.125vw solid;
}

.file {
    position: relative;
}

.file input[type="file"] {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 100px;
    cursor: pointer;
}

.title_btm {
    font-size: 1vw;
    border: 0.125vw solid black;
    background: tan;
    color: #000;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 10vw;
}

.確認画面_選択 {
    border: 0.125vw solid;
    padding: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    border-radius: 2vw;
}